.product-card{
    width: 350px;
    border: 1px solid rgb(200, 198, 198);
    border-radius: 20px;
    
}

.product-card img{
    width: 350px;
    object-fit: contain;
    height: 200px;
}

.card-content{
    padding: 14px;
}